<div class="container">
    <diV class="centered">
        <hgroup>
            <h1>Nos Activités Nautiques</h1>
            <p>Le club nautique d'ïle-rousse vous propose divers activités pour les petits et grands.</p>
        </hgroup>
        <hr />
    </diV>

    <!-- STAGES -->
    <div class="centered">
        <hgroup>
            <h2>Les Stages Ecole Française de Voile</h2>
            <p>Cours collectifs et cours particuliers en Optimist, Catamaran, Planche à voile, Wind foil et Wing foil.<br/>Pendant les vacances scolaires, les cours collectifs sont ouverts du lundi au samedi, et tout les mercredi et samedi après midi pendant le temps scolaire les cours particuliers sont organisés sur rendez-vous</p>
        </hgroup>

        <div class="grid-container grid-container-3">
            {{#each data.activities}}
                <div class="editorial-card">
                    <hgroup>
                        <h3>{{this.name}}</h3>
                        {{#if this.age}}
                            <p>{{this.age}}</p>
                        {{/if}}
                    </hgroup>
                    <div class="swiper no-auto-play">
                        <div class="swiper-wrapper">
                            {{#each this.images}}
                                <div class="swiper-slide"><img loading="lazy" src="{{this}}"></div>
                            {{/each}}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="list">
                        {{#if this.stage_price_1}}
                            <table>
                                <thead>
                                    <tr><th class="heading" colspan="3">{{@root.data.stage_label}}</th></tr>
                                    <tr><th class="sub-heading" colspan="3">{{this.stageDateRange}}</th></tr>
                                </thead>
                                <tbody>
                                    <tr class="heading">
                                        <td>{{@root.data.stage_price_1_label}}</td>
                                        <td>{{@root.data.stage_price_3_label}}</td>
                                        <td>{{@root.data.stage_price_6_label}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{this.stage_price_1}}{{@root.data.price_label}}</td>
                                        <td>{{this.stage_price_3}}{{@root.data.price_label}}</td>
                                        <td>{{this.stage_price_6}}{{@root.data.price_label}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {{/if}}

                        {{#if this.private_price_1}}
                            <table>
                                <thead>
                                    <tr><th class="heading" colspan="3">{{@root.data.private_label}}</th></tr>
                                    <tr><th class="sub-heading" colspan="3">{{this.privateDateRange}}</th></tr>
                                </thead>
                                <tbody>
                                    <tr class="heading">
                                        <td>{{@root.data.private_price_1_label}}</td>
                                        <td>{{@root.data.private_price_2_label}}</td>
                                        <td>{{@root.data.private_price_4_label}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{this.private_price_1}}{{@root.data.price_label}}</td>
                                        <td>{{this.private_price_2}}{{@root.data.price_label}}</td>
                                        <td>{{this.private_price_4}}{{@root.data.price_label}}</td>
                                </tbody>
                            </table>
                        {{/if}}

                        {{#if this.rent_price_1}}
                            <table>
                                <thead>
                                    <tr><th class="heading" colspan="3">{{@root.data.rent_label}}</th></tr>
                                    <tr><th class="sub-heading" colspan="3">{{this.privateDateRange}}</th></tr>
                                </thead>
                                <tbody>
                                    <tr class="heading">
                                        <td>{{@root.data.rent_price_1_label}}</td>
                                        <td>{{@root.data.rent_price_2_label}}</td>
                                        <td>{{@root.data.rent_price_3_label}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{this.rent_price_1}}{{@root.data.price_label}}</td>
                                        <td>{{this.rent_price_2}}{{@root.data.price_label}}</td>
                                        <td>{{this.rent_price_3}}{{@root.data.price_label}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{#if this.rent_price_daily}}
                            <table>
                                <tbody>
                                    <tr class="heading">
                                        <td>{{@root.data.rent_price_daily_label}}</td>
                                        <td>{{@root.data.rent_price_weekly_label}}</td>
                                    </tr>
                                    <tr>
                                        <td>{{this.rent_price_daily}}{{@root.data.price_label}}</td>
                                        <td>{{this.rent_price_weekly}}{{@root.data.price_label}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {{/if}}
                        {{/if}}
                        <a href="/reservations?type=0&bookingType=0">{{@root.data.book_label}}</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <hr />

    <!-- HABITABLE -->
    <div class="centered">
        <hgroup class="centered">
            <h2>Voile Habitable</h2>
            <p>Découvrez ou perfectionnez vous à la navigation en voilier habitable.</p>
        </hgroup>
        <div class="flex-container vertical">
            <div class="swiper no-auto-play">
                <div class="swiper-wrapper">
                    {{#times 9}}
                        <div class="swiper-slide"><img loading="lazy" src="/images/habitable/{{this}}.webp"></div>
                    {{/times}}
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <hgroup>
                <h3>Embarquez avec nous</h3>
            </hgroup>
            <p>La pédagogie FFVvoile vous permettra d’apprendre à votre rythme et quelque soit votre niveau.</p>
            <p>Vivez des moments inoubliables, seul en famille ou entre amis au coeur de la Balagne, du désert des Agriates à la baie de Calvi.</p>
            <p>Votre moniteur diplômé vous accueille à bord et vous supervise  à distance dans une ambiance chaleureuse et instructive.</p>
            <div class="list">
                <table>
                    <thead>
                        <tr><th colspan="2">Découverte ou perfectionnement</th></tr>
                    </thead>
                    <tbody>
                    <tr class="heading">
                        <td>1/2 Journée</td>
                        <td>Journée</td>
                    </tr>
                    <tr>
                        <td>60€ - 12ans</td>
                        <td>90€ - 12ans</td>
                    </tr>
                    <tr>
                        <td>80€ + 12ans</td>
                        <td>120€ + 12ans</td>
                    </tr>
                    </tbody>
                </table>
                
                <a href="/reservations">Réserver</a>
                <table>
                    <thead>
                        <tr><th colspan="2">Sortie Privative</th></tr>
                        <tr><th colspan="2">Composez votre programme avec l’aide de votre skipper. (9 places)</th></tr>
                    </thead>
                    <tbody>
                    <tr class="heading">
                        <td>1/2 Journée</td>
                        <td>Journée</td>
                    </tr>
                    <tr>
                        <td>450€</td>
                        <td>800€</td>
                    </tr>
                    </tbody>
                </table>
                <a href="/reservations">Réserver</a>
                <table>
                    <thead>
                        <tr><th colspan="1">Coucher de soleil</th></tr>
                    </thead>
                    <tbody>
                    <tr class="heading">
                        <td>Sortie Privative (2h)</td>
                    </tr>
                    <tr>
                        <td>350€ le bateau</td>
                    </tr>
                    <tr>
                        <td>ou 50€ / personne</td>
                    </tr>
                    </tbody>
                </table>
                <a href="/reservations">Réserver</a>
            </div>
        </div>
    </div>
    <hr />

    <!-- AUTRES ACTIVITÉS -->
    <div class="centered">
        <hgroup class="centered">
            <h2>Nos Autres Activités</h2>
        </hgroup>
        <div class="grid-container grid-container-3 no-auto-row">
            <div class="editorial-card">
                <hgroup>
                    <h2>La Voile à l'école</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le club Nautique d'Ile Rousse accueille les publics scolaires du printemps à l'automne</p>
                <p>En particulier les classes primaires du bassin d'Ile Rousse, ainsi que les collégiens et les lycéens d'Ile Rousse.</p>
                <p>Le club reçoit plus de 20 classes par semaine, depuis plus de 20 ans, et a développé une expertise dans l'accueil de ces publics.</p>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h2>Formation CQP</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le club propose une formation CQP Initiateur Voile à ses membres les plus experts. Les pré requis sont un niveau de pratique FFVoile 4 certifié sur un ou plusieurs supports et un permis bateau.</p>
            </div>
            <div class="editorial-card">
                <hgroup>
                    <h2>Certification Niveau 4 FFVOILE</h2>
                </hgroup>
                <img src="/images/optimist/1.jpg">
                <p>Le Club inscrit chaque année des certifications de niveau de pratique  4 FFVoile, au calendrier des formations fédérales. Il s'agit d'une évaluation pouvant donner lieu à une certification et non d'un enseignement.</p>
                <p>Le club est habilité à délivrer des certifications de niveau de pratique en catamaran, planche à voile et voile habitable.</p>
                <p>L'examen comprend au choix :</p>
                <ul>
                    <li><p>SI le support le permet, un parcours côtier de 24h, après présentation d'un plan de navigation en rapport avec les exigences de sécurité et de conformité réglementaire, et les conditions météo attendue</p></li>
                    <li><p>OU un parcours sportif où seront évaluées les compétences aux différents postes si le support est double ou collectif</p></li>
                </ul>
                <p>La certification est complétée par un questionnaire sur les fondamentaux du support, la réglementation et la sécurité.</p>
                <p>Prix à partir de 200€ pour le format côtier, 60 € pour le parcours sportif, gratuit pour les aides moniteurs du club.</p>
            </div>
        </div>
    </div>

</div>
