<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
({key: "AIzaSyC4lCjvSLU4UqXA-CgFdWPoRNqKE69nOQI", v: "beta"});</script>

<script src="/scripts/specifc/views/contact/contact.js" defer></script>

<div class="container">
    <hgroup class="centered">
        <h1>{{i18n "view-contact-contact-us-title"}}</h1>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <p>{{i18n "general-nautic-club-name"}}. <br>{{i18n "view-contact-contact-us-address"}}</p>
        <p>{{i18n "view-contact-contact-us-phone-label"}}: <a href="tel:0033495602255">{{i18n "view-contact-contact-us-phone-number"}}</a></p>
        <p>{{i18n "view-contact-contact-us-mail-label"}}: <a href="mailto:cnilerousse@gmail.com">{{i18n "view-contact-contact-us-mail"}}</a></p>
    </hgroup>
    <hr />
</div>

<div class="full-width-container">
    <div id="map"></div>
</div>
