<div class="container">
    <hgroup class="centered">
        <h1>{{i18n "view-our-team-title"}}</h1>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>{{i18n "view-our-team-section-1-title"}}</h2>
        <p>{{i18n "view-our-team-section-1-paragraph-1"}}</p>
        <p>{{i18n "view-our-team-section-1-paragraph-2"}}</p>
        <p>{{i18n "view-our-team-section-1-paragraph-3"}}</p>
        <p>{{i18n "view-our-team-section-1-paragraph-4"}}</p>
        <p>{{i18n "view-our-team-section-1-paragraph-5"}}</p>
    </hgroup>
    <hr />

    <hgroup class="centered">
        <h2>{{i18n "view-our-team-section-2-title"}}</h2>
        <div class="grid-container grid-container-4 no-auto-row">
            {{#each data}}
                <div class="editorial-card">
                    <h3>{{this.name}}</h3>
                    <img src="{{this.image}}">
                    {{#each this.achievements}}
                        <p>{{this}}</p>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </hgroup>
    <hr />

</div>
